		* {
			box-sizing: border-box; /*size calculate garda padding ra border pani include*/
		}
		
		/* body {
			font-family: Arial;
			background: #f1f1f1;
			padding: 10px;
		} */

		body {
            font-family: 'Dosis', sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }

		.header {
			text-align: center;
			padding: 20px;
			background: white;
			background: url(../img/coffe-code-travel.png);
		}

		.header h1 {
			font-size: 50px;
			text-shadow: 0px 2px 3px black;
			font-family: 'Lobster', cursive;
		}

		.header p {
			font-size: 20px;
			font-family: 'Lobster Two', cursive;
		}

		.navbar {
			overflow: hidden; /* Yesko child haru sab float vako cha so collapse huna baata jogauna yesto garnu parcha*/
			background: #333;
			background: url(../img/bkg_02.jpg);
			box-shadow: 1px 3px 5px solid black;
		}

		.navbar a {
			float: left; /*float left garepachi sabai a tag haru left sidema dhikka dhikka vayera bascha*/
			display: block; /*display block garepachi matra top ra down ko padding le kaam garcha*/
			color: #f2f2f2;
			padding: 14px 16px;
			text-decoration: none;
		}

		.navbar a:hover {
			background: #ddd;
			background: url(../img/bkg_hover_02.jpg);
			text-decoration: underline;
			color: black;
		}

		/* .row {
			overflow: hidden;
		} */

		.left {
			float: left;
			width: 75%;
		}

		.right {
			float: right;
			width: 25%;
			padding-left: 20px;
		}

		.card img {
			width: 100%;
		}

		.card {
			background: white;
			padding: 20px;
			margin-top: 20px;
		}

		.card h2 {
			font-family: 'Yatra One', cursive;
		}

		.card p {
			font-size: 22px;
			font-family: 'Dosis', sans-serif;
		}

		.job-entry {
			margin-bottom: 40px;
		  }
		  .job-entry h3 {
			font-size: 1.25rem;
			color: #1a202c;
			margin-bottom: 5px;
		  }
		  .job-entry p {
			font-size: 0.95rem;
			color: #555;
			font-style: italic;
			margin-bottom: 10px;
		  }

		/* .footer {
			padding: 20px;
			margin-top: 20px;
			background: #ddd;
			text-align: center;
		} */

		.footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: #fff;
            font-size: 14px;
        }